schema-agents==0.1.61
httpx==0.28.1
hypha==0.20.47.post15
hypha-rpc==0.20.48
aiofiles==23.2.1
pandas==1.5.3
setuptools==70.0.0
llama_index==0.12.1
llama-index-readers-papers==0.3.0
pandasai==2.3.0
botocore==1.36.3
aiobotocore==2.19.0
