imjoy-rpc>=0.5.48.post2
requests
pypdf
pillow
matplotlib
hypha>=0.15.50
tqdm
aiofiles
serpapi
langchain
langchain-community
langchain-core
beautifulsoup4
pandas
# duckduckgo-search==6.1.5
langchain-openai==0.0.8
rank-bm25==0.2.2
html2text==2020.1.16
setuptools
PyYAML==6.0.1
isatools @ https://github.com/ISA-tools/isa-api/archive/refs/heads/master.zip

